$primary:   #EC1111;
$primary-2: #DBA250;
$accent:    #2D201D;
$default:   #464451;
$default-4: #46445166;
$default-5: #46445180;
$default-6: #46445199;
$default-8: #464451cc;
$bg:        #F8F8F8;
$bg-green:  #25D366;

%bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%jost-400 {
  font-family: "Jost-Regular";
  font-weight: 400;
  font-style: normal;
}

%jost-500 {
  font-family: "Jost-Medium";
  font-weight: 500;
  font-style: normal;
}

%jost-600 {
  font-family: "Jost-SemiBold";
  font-weight: 600;
  font-style: normal;
}

%jost-700 {
  font-family: "Jost-Bold";
  font-weight: 700;
  font-style: normal;
}

%jost-800 {
  font-family: "Jost-ExtraBold";
  font-weight: 800;
  font-style: normal;
}

%jost-900 {
  font-family: "Jost-Black";
  font-weight: 900;
  font-style: normal;
}
