#action-page {
  .front-block {
    background-image: url('../images/front-page/4.webp');

    &__inner {
      padding: 110px 0 112px;
    }

    &__title {
      margin-bottom: 60px;
      position: relative;
      z-index: 1;
    }

    &__img {
      position: absolute;
      top: 24%;
      left: 30%;
    }

    &__btn {
      background-color: $primary;
      box-shadow: 0px 15px 40px rgba(236, 17, 17, .15);
      max-width: 400px;
      height: 96px;

      &::before {
        display: none;
      }
    }
  }

}

@media (max-width: 1230px) {
  #action-page {
    .front-block__img {
      left: 60%;
    }
  }
}

@media (max-width: 991.8px) {
  #action-page {
    .front-block {
      &__inner {
        padding: 40px 0 0;
      }

      &__img {
        top: 35%;
      }
    }
  }
}

@media (max-width: 767.98px) {
  #action-page {
    .front-block {

      &__title {
        margin-bottom: 15px;
      }

      &__img {
        top: 44%;
      }

      &__btn {
        height: 76px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  #action-page {
    .front-block__img {
      right: 25px;
      left: auto;
      top: 17px;
      rotate: -28deg;
    }
  }
}

.action-block {
  margin-top: 100px;
}

@media (max-width: 991.8px) {
  .action-block {
    margin-top: 40px;
  }
}


.no-time {

  &__inner {
    background-color: white;
    border-radius: 30px;
    display: flex;
  }

  &__form {
    padding: 80px;
  }

  &__title {
    @extend %jost-500;
    font-size: 36px;
    line-height: calc(44/36*100%);
    margin-bottom: 15px;
  }

  &__text {
    font-size: 20px;
    line-height: calc(28/20*100%);
    margin-bottom: 30px;
    max-width: 350px;
  }

  &__item+&__item {
    margin-top: 30px;
  }

  &__item-title {
    @extend %jost-600;
    font-size: 14px;
    line-height: calc(22/14*100%);
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__item-collection {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px 10px;
    max-width: 450px;
  }

  &__collection-label {
    height: 80px;
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    line-height: calc(22/14*100%);
    cursor: pointer;
    transition: all .3s;

    &:hover {
      border-color: $primary-2;
      background-color: $primary-2;
      color: white;
      box-shadow: 0px 15px 40px rgba(219, 162, 80, 0.15);
    }

    &::before {
      display: none;
    }
  }

  &__item-socials {
    display: flex;
    gap: 10px;
  }

  &__item-inp {
    display: none;

    &:checked+.no-time__item-label {
      border-color: green;
    }

    &:checked+.no-time__collection-label {
      border-color: $primary-2;
      background-color: $primary-2;
      color: white;
      box-shadow: 0px 15px 40px rgba(219, 162, 80, 0.15);
    }
  }

  &__item-label {
    text-transform: none;
    height: 44px;
    gap: 10px;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: $default-5;
    padding: 0 20px;
    border-radius: 10px;
    max-width: 140px;
    width: 100%;

    &::before {
      display: none;
    }

    span {
      @extend %jost-400;
    }

    &:last-child {
      max-width: 128px;
    }
  }

  &__item-tel {
    background-color: #FAFBFC;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    padding: 28px 30px;
    font-size: 22px;
    line-height: calc(30/22*100%);
    color: $default-4;
    max-width: 428px;
    width: 100%;
    @extend %jost-400;
  }

  &__item-btn {
    margin-top: 20px;
    width: 100%;
    max-width: 428px;
    border: none;
    height: 96px;
    @extend %jost-700;
    font-size: 16px;
    line-height: calc(24/16*100%);
    margin-bottom: 17px;
    border-radius: 12px;
  }

  &__item-checkbox {
    display: flex;
    gap: 10px;
    padding-left: 24px;
    cursor: pointer;

    input {
      display: none;
    }

    input:checked+span {
      background-image: url('../images/icons/check.svg');
    }

    span {
      min-width: 16px;
      height: 16px;
      border-radius: 3px;
      border: 1px solid rgb(16, 16, 16, 0.1);
      @extend %bg;
      background-size: contain;
    }

    p {
      font-size: 14px;
      line-height: calc(20/14*100%);
    }

    a {
      text-decoration-line: underline;
      color: $primary;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    max-width: 590px;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}


@media (max-width: 1230px) {

  .no-time__form {
    padding: 40px;
  }

}

@media (max-width: 991.8px) {

  .no-time {
    &__inner {
      justify-content: center;
    }

    &__form {
      padding: 80px;
    }

    &__img-wrapper {
      display: none;
    }

  }
}

@media (max-width: 767.98px) {

  .no-time {
    &__form {
      padding: 40px;
    }

    &__title {
      font-size: 32px;
      margin-bottom: 10px;
    }

    &__text {
      margin-bottom: 15px;
    }

  }
}

@media (max-width: 575.98px) {

  .no-time {
    &__title {
      font-size: 26px;
      margin-bottom: 5px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &__item+&__item {
      margin-top: 15px;
    }

    &__item-collection {
      gap: 10px;
    }

    &__collection-label {
      height: 60px;
      font-size: 12px;
      padding: 0 10px;
    }

    &__item-socials {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    &__item-label {
      max-width: 120px;
      font-size: 14px;

      &:last-child {
        max-width: 120px;
      }
    }

    &__item-tel {
      padding: 20px 25px;
      font-size: 20px;
      height: 76px;
    }

    &__item-btn {
      font-size: 14px;
      height: 76px;
      margin: 15px 0 12px;
    }
  }
}