.kebab-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  margin-bottom: 40px;

  &__item {
    background: #ffffffcc;
    border-radius: 40px;
    padding: 10px 10px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.hidden {
      display: none;
    }
  }

  &__top {
    background-color: white;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0px 10px 60px rgba(163, 169, 183, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 10px;
  }

  &__top-title {
    @extend %jost-500;
    font-size: 28px;
    line-height: calc(36/28*100%);
    margin-bottom: 10px;
  }

  &__top-text {
    margin-bottom: auto;

    span {
      @extend %jost-700;
    }
  }

  &__top-link {
    margin-top: 15px;
    height: 32px;
    padding: 0 15px;
    max-width: fit-content;
    text-transform: none;
    @extend %jost-500;
  }

  &__center {
    position: relative;
    border-radius: 30px;
    min-height: 380px;
    margin-bottom: 20px;
  }

  &__center-img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }

  .disconunt-block {
    display: none;
    right: 20px;
    top: 20px;
  }

  &__bottom {
    padding: 0 25px;
  }

  &__bottom-about {
    margin-bottom: 10px;
  }

  &__bottom-consult {
    border-radius: 12px;
    font-size: 14px;
    line-height: calc(22/14*100%);
    height: 60px;
  }

  &__item--discount {
    .kebab-items__top-title {
      text-transform: uppercase;
    }

    .disconunt-block {
      display: flex;
    }
  }

}

@media (max-width: 1230px) {
  .kebab-items {
    &__top {
      padding: 20px;
    }

    &__top-title {
      font-size: 26px;
    }

    &__bottom-consult {
      font-size: 12px;
    }
  }
}

@media (max-width: 991.8px) {
  .kebab-items {
    overflow: auto;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

}

@media (max-width: 767.98px) {
  .kebab-items {
    &__item {
      padding: 10px;
    }

    &__center {
      min-height: 250px;
    }

    &__top-text {
      font-size: 16px;
    }

    &__top-title {
      font-size: 22px;
      margin-bottom: 5px;
    }

    &__top-link {
      margin-top: 5px;
    }
  }
}