.meeting {
  margin-bottom: 100px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
  }

  &__item {
    position: relative;
    border-radius: 30px;
    padding: 35px 35px 77.74%;
  }

  &__item-img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
  }

  &__item-text {
    position: relative;
    font-size: 20px;
    line-height: calc(28/20*100%);
    color: white;
  }
}


@media (max-width: 1230px) {
  .meeting {
    &__items {
      gap: 20px;
    }

    &__item {
      padding-bottom: 60.74%;
    }
  }
}

@media (max-width: 991.8px) {
  .meeting {
    margin-bottom: 40px;

    &__items {
      overflow: auto;
      grid-template-columns: repeat(3, minmax(320px, 1fr));
      gap: 10px;
      padding-bottom: 15px;
    }
  }

}