<section class="design-project">
  <div class="container">
    <h2 class="_title design-project__title">
      <span>Дизайн-проект</span> вы можете получить:
    </h2>
    <div class="design-project__items">
      <div class="design-project__item">
        <img class="design-project__item-img" src="images/design-project/1.webp" alt="">
        <p class="design-project__item-text">
          на встрече с дизайнером<br>
          в ближайшем салоне<br>
          «Любимая кухня»
        </p>
        <a class="design-project__item-btn _main-btn" href="#">
          Записаться на встречу<br>
          с дизайнером в салоне
        </a>
      </div>
      <div class="design-project__item">
        <img class="design-project__item-img" src="images/design-project/2.webp" alt="">
        <p class="design-project__item-text">
          у себя дома – дизайнер<br>
          приедет в удобное для вас время<br>
          с образцами материалов
        </p>
        <a class="design-project__item-btn _main-btn" href="#">
          Выбрать день<br>
          выезда дизайнера
        </a>
      </div>
      <div class="design-project__item">
        <img class="design-project__item-img" src="images/design-project/3.webp" alt="">
        <p class="design-project__item-text">
          в формате онлайн – покажем<br>
          материалы и выставочные<br>
          образцы по видеосвязи
        </p>
        <a class="design-project__item-btn _main-btn" href="#">
          Получить дизайн-проект<br>
          в формате онлайн
        </a>
      </div>
    </div>
  </div>
</section>