<section class="furniture-design">
  <div class="container">
    <h2 class="_title furniture-design__title">
      <span>Бесплатно спроектируем</span> кухню <br>
      и корпусную мебель <span>по вашим <br>
        параметрам уже сегодня:</span>
    </h2>
    <div class="furniture-design__items">
      <div class="furniture-design__item">
        <div class="furniture-design__item-wrapper">
          <img class="furniture-design__item-img" src="images/furniture-design/1.webp" alt="">
        </div>
        <p class="furniture-design__item-text">
          <span>учтем особенности вашего<br>
          помещения и интерьера</span>
        </p>
      </div>
      <div class="furniture-design__item">
        <div class="furniture-design__item-wrapper">
          <img class="furniture-design__item-img" src="images/furniture-design/2.webp" alt="">
        </div>
        <p class="furniture-design__item-text">
          <span>расскажем о новых<br>
          тенденциях моды и цветах</span>
        </p>
      </div>
      <div class="furniture-design__item">
        <div class="furniture-design__item-wrapper">
          <img class="furniture-design__item-img" src="images/furniture-design/3.webp" alt="">
        </div>
        <p class="furniture-design__item-text">
          <span>поможем выбрать<br>
          бытовую технику</span>
        </p>
      </div>
      <div class="furniture-design__item">
        <div class="furniture-design__item-wrapper">
          <img class="furniture-design__item-img" src="images/furniture-design/4.webp" alt="">
        </div>
        <p class="furniture-design__item-text">
          <span>порекомендуем<br>
          материалы отделки</span>
        </p>
      </div>
    </div>
  </div>
</section>