<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,500italic,700italic,400,300,500,700subset=latin,cyrillic-ext"
    rel="stylesheet" />
  <link
    href="https://in-flor.ru/bitrix/cache/css/s1/aspro-landscape/template_67a3bcd752e6f840895e4daef890a7e7/template_67a3bcd752e6f840895e4daef890a7e7_v1.css?1706594963779169"
    data-template-style="true" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/style.min.css">
</head>

<body>
  <div class="body_wrapper main-page">


<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__inner">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item active">
              <a class="menu__link" href="#">
                Мебель на заказ
              </a>
              <ul class="submenu__list">
                <li class="submenu__item">
                  <a class="submenu__link" href="#">ttt</a>
                </li>
                <li class="submenu__item">
                  <a class="submenu__link" href="#">ttt</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                О фабрике
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Портфолио<br>
                и отзывы
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Акции
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Доставка, монтаж<br>
                и гарантии
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Вопрос<br> – ответ
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Блог
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Реферальная<br>
                программа
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Вакансии
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="burger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <a class="header-top__btn _main-btn" href="#">
          Франчайзинг
        </a>
      </div>
    </div>
    <div class="popup-menu">
      <div class="container">
        <ul class="popup-menu__list">
          <li class="popup-menu__item active">
            <a class="popup-menu__link" href="#">
              Мебель на заказ
            </a>
            <ul class="popup-menu__submenu-list">
              <li class="popup-menu__submenu-item">
                <a class="popup-menu__submenu-link" href="#">Шкаф</a>
              </li>
              <li class="popup-menu__submenu-item">
                <a class="popup-menu__submenu-link" href="#">Тумба</a>
              </li>
            </ul>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              О фабрике
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Портфолио
              и отзывы
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Акции
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Доставка, монтаж
              и гарантии
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Вопрос – ответ
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Блог
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Реферальная
              программа
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Вакансии
            </a>
          </li>
          <li class="popup-menu__item">
            <a class="popup-menu__link" href="#">
              Контакты
            </a>
          </li>
        </ul>
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.webp" alt="logo">
        </a>
        <div class="subheader__item">
          <form class="subheader__item-form" action="#" method="get">
            <input class="subheader__item-search" type="text" placeholder="Поиск">
          </form>
          <a class="subheader__item-link subheader__item-link--light" href="#">
            Избранное
          </a>
        </div>
        <div class="subheader__item contact-city">
          <img class="subheader__item-icon contact-city__icon" src="images/icons/phone.svg" alt="">
          <p class="subheader__item-top contact-city__top">
            <span>Контакты салонов в городе:</span>
          </p>
          <a class="subheader__item-link contact-city__link" href="#">
            Екатеринбург
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="subheader">
    <div class="container">
      <div class="subheader__inner">
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.webp" alt="logo">
        </a>
        <div class="subheader__item">
          <img class="subheader__item-icon" src="images/icons/map.svg" alt="">
          <p class="subheader__item-top">
            Доставка и установка
            в Вашем городе:
          </p>
          <a class="subheader__item-link" href="#">
            Екатеринбург
          </a>
          <p class="subheader__item-bottom">
            50+ салонов по всей России
          </p>
        </div>
        <div class="subheader__item">
          <img class="subheader__item-icon" src="images/icons/box.svg" alt="">
          <p class="subheader__item-top subheader__item-link">
            Получите<br>
            3 дизайн-проекта<br>
            кухни бесплатно
          </p>
        </div>
        <div class="subheader__item">
          <form class="subheader__item-form" action="#" method="get">
            <input class="subheader__item-search" type="text" placeholder="Поиск">
          </form>
          <a class="subheader__item-link subheader__item-link--light" href="#">
            Избранное
          </a>
        </div>
        <div class="subheader__item contact-city">
          <img class="subheader__item-icon contact-city__icon" src="images/icons/phone.svg" alt="">
          <p class="subheader__item-top contact-city__top">
            <span>Контакты салонов в городе:</span>
          </p>
          <a class="subheader__item-link contact-city__link" href="#">
            Екатеринбург
          </a>
        </div>
      </div>
    </div>
  </div>
</header>