<section class="meeting">
  <div class="container">
    <h2 class="_title meeting__title">
      <span>На встрече </span>в салоне вы сможете:
    </h2>
    <div class="meeting__items">
      <div class="meeting__item">
        <img class="meeting__item-img" src="images/components/meeting/1.webp" alt="">
        <p class="meeting__item-text">
          вживую оценить качество<br>
          наших кухонь
        </p>
      </div>
      <div class="meeting__item">
        <img class="meeting__item-img" src="images/components/meeting/2.webp" alt="">
        <p class="meeting__item-text">
          ознакомиться с новинками<br>
          фасадов и фурнитуры
        </p>
      </div>
      <div class="meeting__item">
        <img class="meeting__item-img" src="images/components/meeting/3.webp" alt="">
        <p class="meeting__item-text">
          получить дизайн-проект<br>
          вашей идеальной кухни
        </p>
      </div>
    </div>
  </div>
</section>