<section class="simple-card">
  <div class="container">
    <div class="simple-card__items">
      <div class="simple-card__item">
        <div class="simple-card__item-wrapper">
          <img class="simple-card__item-img" src="images/icons/calendar.svg" alt="calendar">
        </div>
        <h4 class="simple-card__item-title">
          Производство<br>
          от 10 дней
        </h4>
        <p class="simple-card__item-text">
          благодаря собственной фабрике<br>
          общей площадью 3 580 кв.м.<br>
          и отлаженной логистике
        </p>
        <a class="_main-btn simple-card__item-btn" href="#">
          Подробнее о производстве
        </a>
      </div>
      <div class="simple-card__item">
        <div class="simple-card__item-wrapper">
          <img class="simple-card__item-img" src="images/icons/phones.svg" alt="phones">
        </div>
        <h4 class="simple-card__item-title">
          Рассрочка<br>
          до 10 месяцев
        </h4>
        <p class="simple-card__item-text">
          Рассрочка действует на всю<br>
          корпусную мебель
        </p>
        <a class="_main-btn simple-card__item-btn" href="#">
          Кухни в рассрочку
        </a>
      </div>
      <div class="simple-card__item">
        <div class="simple-card__item-wrapper">
          <img class="simple-card__item-img" src="images/icons/track.svg" alt="track">
        </div>
        <h4 class="simple-card__item-title">
          Бережная доставка и
          монтаж в удобный день
        </h4>
        <p class="simple-card__item-text">
          Длительность монтажа от 7 до<br>
          9 часов с подключением техник<br>
          и воды
        </p>
        <a class="_main-btn simple-card__item-btn" href="#">
          Подробнее о доставке<br>
          и монтаже
        </a>
      </div>
    </div>
  </div>
</section>