<section class="slider-block">
  <div class="swiper slider-block__inner">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="images/slides/1.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/1.webp" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/2.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/2.webp" alt="2">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/3.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/3.webp" alt="3">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/4.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/4.webp" alt="4">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/5.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/5.webp" alt="5">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/1.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/1.webp" alt="1">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/2.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/2.webp" alt="2">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/3.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/3.webp" alt="3">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/4.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/4.webp" alt="4">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="images/slides/5.webp" data-fancybox="slider-block" class="slider-block__wrapper">
          <img class="slider-block__img" src="images/slides/5.webp" alt="5">
        </a>
      </div>
    </div>
  </div>
</section>