<section class="video">
  <div class="container">
    <div class="video__inner video-cards">
      <h2 class="_title video__title video-cards__title">
        <span>Видеообзоры</span> 
        выполненных проектов
      </h2>
      <div class="video__items video-cards__items">
  
        <div class="video__item video-cards__item">
          <a class="video__item-wrapper video-cards__item-wrapper" href="https://www.youtube.com/watch?v=1A_9slmQx8M" data-fancybox="video-1">
            <img class="video__item-img video-cards__item-img" src="images/components/video-items/1.webp" alt="">
            <div class="play">
              <img class="video__item-play video-cards__item-play play__img" src="images/icons/play.svg" alt="play">
            </div>
          </a>
          <h4 class="video__item-title video-cards__item-title">
            Кухня в темных тонах
          </h4>
          <a class="video__item-btn video-cards__item-btn _light-btn" href="#">
            Узнать подробности
          </a>
        </div>
        <div class="video__item video-cards__item">
          <a class="video__item-wrapper video-cards__item-wrapper" href="https://www.youtube.com/watch?v=1A_9slmQx8M" data-fancybox="video-1">
            <img class="video__item-img video-cards__item-img" src="images/components/video-items/2.webp" alt="">
            <div class="play">
              <img class="video__item-play video-cards__item-play play__img" src="images/icons/play.svg" alt="play">
            </div>
          </a>
          <h4 class="video__item-title video-cards__item-title">
            Санузел в светлых тонах
          </h4>
          <a class="video__item-btn video-cards__item-btn _light-btn" href="#">
            Узнать подробности
          </a>
        </div>
        <div class="video__item video-cards__item">
          <a class="video__item-wrapper video-cards__item-wrapper" href="https://www.youtube.com/watch?v=1A_9slmQx8M" data-fancybox="video-1">
            <img class="video__item-img video-cards__item-img" src="images/components/video-items/3.webp" alt="">
            <div class="play">
              <img class="video__item-play video-cards__item-play play__img" src="images/icons/play.svg" alt="play">
            </div>
          </a>
          <h4 class="video__item-title video-cards__item-title">
            Стильные и удобные<br>
            решения для кухни
          </h4>
          <a class="video__item-btn video-cards__item-btn _light-btn" href="#">
            Узнать подробности
          </a>
        </div>
        <div class="video__item video-cards__item">
          <a class="video__item-wrapper video-cards__item-wrapper" href="https://www.youtube.com/watch?v=1A_9slmQx8M" data-fancybox="video-1">
            <img class="video__item-img video-cards__item-img" src="images/components/video-items/4.webp" alt="">
            <div class="play">
              <img class="video__item-play video-cards__item-play play__img" src="images/icons/play.svg" alt="play">
            </div>
          </a>
          <h4 class="video__item-title video-cards__item-title">
            Гостевой санузел<br>
            в современном стиле
          </h4>
          <a class="video__item-btn video-cards__item-btn _light-btn" href="#">
            Узнать подробности
          </a>
        </div>
  
      </div>
      <a class="video__btn video-cards__btn _main-btn" href="#">
        <span>Посмотреть портфолио и отзывы</span>
        <img src="images/icons/window.svg" alt="window">
      </a>
    </div>
  </div>
</section>